.note{
    background: #feff9c;
    color: rgb(0,0,0);
    height: 10em;
    width: 10em;
    margin: 1em;
    padding: 1em;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    transform: rotate(-6deg);
    transition: all ease 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.note:nth-child(even){
    background: #7afcff;
    transform: rotate(4deg);
    position: relative;
    top: 5px;
}
.note:nth-child(3n){
    transform: rotate(-3deg);
    background: #ff7eb9;
    position: relative;
    top: -5px;
}
.note:hover
{
    transform: scale(1.25);
    cursor: pointer;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.note.note--focussed
{
    transform: scale(1.5);
    cursor: pointer;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.note .btn-close{
    margin-left: 7em;
    margin-bottom: 0.5em;
}
.note__text{
    flex:1;
    outline:none;
}
.note__link{
    display: none;
}

